# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pypirc
.pytest_cache/
.pytest_cache
.venv/
.vscode/
.pyc
ann_data/
tests/interpolator_json/
docs/examples/interpolator_json/
interpolator_json/
tests/ann_data/
docs/examples/ann_data/
# ./ann_data/
docs/examples/*.json

# Jupyter
.ipynb_checkpoints/

# Sphinx
docs/_build/

# JSON files (specific directories)
examples/**/*.json
devdir/**/*.json
examples/

# Pickle files (specific directories)
examples/**/*.pickle
examples/**/*.pkl
devdir/**/*.pickle
devdir/**/*.pkl
docs/**/*.pickle
docs/**/*.pkl

# Interpolator pickle directory
examples/interpolator_json/

# macOS
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST.pypirc
.pypirc
