# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pypirc
.pytest_cache/
.venv/
.vscode/
ann_data/
tests/interpolator_pickle/
tests/ann_data/


# Jupyter
.ipynb_checkpoints/

# Sphinx
docs/_build/

# JSON files (specific directories)
examples/**/*.json
devdir/**/*.json
docs/**/*.json

# Pickle files (specific directories)
examples/**/*.pickle
examples/**/*.pkl
devdir/**/*.pickle
devdir/**/*.pkl
docs/**/*.pickle
docs/**/*.pkl

# Interpolator pickle directory
examples/interpolator_pickle/

# macOS
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST.pypirc
.pypirc
