# Sphinx documentation 
docs/_build/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ignore json
# *.json
# .json
# **.json
# **/*.json
# **/**/*.json
# **/**/**/*.json
# **/**/**/**/*.json
# **/**/**/**/**/*.json
examples/*.json
examples/**/*.json
examples/**/**/*.json
examples/**/**/**/*.json
examples/**/**/**/**/*.json
dev/*.json
dev/**/*.json
dev/**/**/*.json
dev/**/**/**/*.json
dev/**/**/**/**/*.json
docs/*.json
docs/**/*.json
docs/**/**/*.json
docs/**/**/**/*.json
docs/**/**/**/**/*.json

# ignore pickle
# *.pickle
# .pickle
# **.pickle
# **/*.pickle
# **/**/*.pickle
# **/**/**/*.pickle
# **/**/**/**/*.pickle
# **/**/**/**/**/*.pickle
examples/*.pickle
examples/**/*.pickle
examples/**/**/*.pickle
examples/**/**/**/*.pickle
examples/**/**/**/**/*.pickle
dev/*.pickle
dev/**/*.pickle
dev/**/**/*..pickle
dev/**/**/**/*.pickle
dev/**/**/**/**/*.pickle
docs/*.pickle
docs/**/*.pickle
docs/**/**/*.pickle
docs/**/**/**/*.pickle
docs/**/**/**/**/*.pickle
examples/*.pkl
examples/**/*.pkl
examples/**/**/*.pkl
examples/**/**/**/*.pkl
examples/**/**/**/**/*.pkl
dev/*.pkl
dev/**/*.pkl
dev/**/**/*.pkl
dev/**/**/**/*.pkl
dev/**/**/**/**/*.pkl
docs/*.pkl
docs/**/*.pkl
docs/**/**/*.pkl
docs/**/**/**/*.pkl
docs/**/**/**/**/*.pkl

.DS_Store

examples/interpolator_pickle/
examples/interpolator_pickle/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

